{% extends "base.html" %}
{% block title %}Главная{% endblock %}

{% block content %}

<article class="markdown-body entry-content p-5" itemprop="text"><h1>AntiCorona</h1>
<blockquote>
<p>CRM система для отслеживания въезжающих в страну лиц:
Элементы - распознавание анкет, заполненных вручную, но печатными буквами, автоматическое
внесение в базу, автоматическое распределение внесённых в базу по региональным управлениям
здравоохранения, возможность внесения данных в систему по проведенным мероприятиям в
отношении каждого внесенного в базу (дозвонились, состояние здоровья и др), выгрузка
текущего статуса по всей базе. Примеры анкеты и эксель файлов прикреплены ниже.</p>
</blockquote>
<blockquote>
<p>Цитата эксперта Министерства здравоохранения: "На рейсах заполняется анкета, затем эти
данные заносятся в эксель. Затем мы грузим эти данные в облако. Оттуда регионы берут
информацию и ищут этих людей. Если возможно, то нужно: При завершении заполнения таблицы
она автоматически загружается в какую-либо онлайн базу данных, откуда регионы могли бы
видеть пассажиров, относящихся к ним. Пример: Пассажир из Москвы, регион: г. Алматы. И
представители Управления здравоохранения Алматы могут сразу видеть, что этот пассажир
относится к ним и начинают искать его. После того, как нашли – отмечают в этой онлайн базе
данных. В следствии чего уже в центральном органе видно, что этот человек 1. найден и 2.
госпитализирован"</p>
</blockquote>
<p><a href="https://github.com/alem-01/anti-corona/blob/master/cases/4.CRM.MD">https://github.com/alem-01/anti-corona/blob/master/cases/4.CRM.MD</a></p>
<h2>Основной рабочий функционал:</h2>
<ul>
<li>Загрузка данных с excel файла на сервер</li>
<li>Выгрузка существующих данных с сервера</li>
<li>Поиск по данным</li>
<li>Выбрать несколько людей и изменить статус (Найден/Не найден, Госпитализирован/ Не госпитализирован)</li>
<li>Добавить место госпитализации, если её нет</li>
<li>Добавить дополнительные данные</li>
</ul>

src: <a href="https://github.com/temirgaliyev/anti_corona">Github</a>
</article>

{% endblock %}
